{% extends 'base.html' %}

{% block title %}ユーザー一覧 | {{ SITE_NAME}}{% endblock title %}

{% block content %}
<h1>ユーザー一覧</h1>

{% if users %}
    <ul class="list-unstyled">
        {% for user in users %}
            <li class="media">
                <div class="media-body">
                    <div>
                        <a href="{% url 'users:user_profile' user.pk %}">
                            {{user.username}}
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
<p>表示できるユーザーはいません</p>
{% endif %}

{% endblock content %}