{% extends 'base.html' %}
{% load static %}

{% block title %}ポスト一覧 | {{ SITE_NAME }}{% endblock title %}

{% block content %}
    {% if posts %}
    
    <ul class="list-unstyled">
        {% for post in posts %}
            <li class="media mb-3">
                <img src="" alt="" class="mr-2 rounded">
                <div class="media-body">
                    <div>
                        <a href="{% url 'users:user_profile' post.user.pk %}">{{ post.user.username }}</a>
                    </div>
                    <div>
                        <span class="text-muted">posted at {{ post.created_at }}</span>
                        <p class="mb-0">{{ post.content }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>まだ投稿されていません</p>
    {% endif %}
{% endblock content %}
