<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href=
            {% if user.is_authenticated %}
                "{% url 'users:user_page' user.username %}"
            {% else %}
                "/"
            {% endif %}
            class="navbar-brand">
            {{ SITE_NAME}}
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-bar">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'users:users_index' %}" class="nav-link">Users</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <ul class="dropdown-item">
                                <li class="dropdown-item"><a href="{% url 'users:user_page' user.username %}">My Profile</a></li>
                                <li class="dropdown-item"><a href="{% url 'users:user_followings' user.pk %}"> Followings</a></li>
                                <li class="dropdown-item"><a href="{% url 'users:user_followers' user.pk %}">Followers</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a href="{% url 'account_logout' %}">Log Out</a>
                                </li>
                            </ul>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item {% block active_signup %}{% endblock active_signup %}">
                        <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item {% block active_login %}{% endblock active_login %}">
                        <a href="{% url 'account_login' %}" class="nav-link">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
