<ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="{% url 'users:user_page' cuser.username %}" class="nav-link">TimeLine</a></li>
    <li class="nav-item"><a href="{% url 'users:user_followings' cuser.username %}" class="nav-link">Followings <span class="badge badge-secondary">{{ cuser.followings.all.count }}</span></a></li>
    <li class="nav-item"><a href="{% url 'users:user_followers' cuser.username %}" class="nav-link">Followers <span class="badge badge-secondary">{{ cuser.followers.all.count }}</span></a></li>
</ul>
