{% extends 'base.html' %}

{% load static %}

{% block title %}Microposts{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        <div class="center jumbotron">
            <div class="text-center">
                <h1>Welcome to the Microposts</h1>
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary">Sign Up Now!</a>
            </div>
        </div>
    {% endif %}

{% endblock content %}

{% block footer %}
{% endblock footer %}