{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}プロフィール | {{ SITE_NAME}}{% endblock title %}

{% block content %}

{% if cuser %}
    <div class="row">

        <aside class="col-sm-4">
            {% include 'common-parts/user-card.html' with cuser=cuser user=user form=form only %}
        </aside>
        
        <div class="col-sm-8">

            {% include 'common-parts/navtabs.html' with user=user only %}

            {% if cuser.post.all %}
                {% include 'parts/posts.html' with posts=cuser.post.all user=user only %}
            {% else %}
                <p>投稿がありません。</p>
            {% endif %}

        </div>
    </div>

{% else %}
    <p>該当のユーザーはいません</p>

{% endif %}

{% endblock content %}
