{% load static %}
{% load order_by %}

<ul class="list-unstyled">
    {% for post in posts|order_by:'-created_at' %}
        <li class="media mb-3">
            <img src="{% static 'img/noimage.png' %}" alt="" class="mr-2 rounded" size="75px" height="60px">
            <div class="media-body">
                <div>
                    <a href="{% url 'users:user_page' post.user.username %}">{{ post.user.username }}</a>
                </div>
                <div>
                    <p class="mb-0">{{ post.content }}</p>
                    <span class="text-muted">posted at {{ post.created_at }}</span>
                </div>
                <div>
                    {% if user.pk == post.user.pk %}
                        <a href="{% url 'posts:post_delete' post.pk %}" class="btn btn-danger btn-sm">
                            削除
                        </a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
